Q7. Write a program to return True if the list consist only integer values only and if not return False.

In [13]:
a= [3,4.4]
i=0
for each in a:
    each=float(each)
    if (each.is_integer() ==False):
        print ("FALSE")
        break
    else:
        
        i=i+1
        if (i==len(a)):
            print ("True")
            
        
        continue

FALSE

Q6. Write a program to calculate the length of each word in the sentence. 
    Example: x="Hello world I am learning python" Now length of hello is 5.

In [18]:
a="my name is siddharth"

lst=a.split(' ')
for each in lst:
    print (each," ",len(each))

my   2
name   4
is   2
siddharth   9

Q4-Write a program to print the list of numbers which has a cube of odd numbers in the range of 1,50.

In [19]:

for number in range (1,50):
    if (number%2==0):
        continue
    else:
        if (number*number*number <50):
            print (number)

1
3

In [ ]:
a="my@#name##$%is@#$siddharth"

b=dict()

for each in a:
    if (each.isalpha() or each.isnumber()):
        continue
    else:
        for each2 in b.keys():
            if each2 == each:

Q2- Write a program to take out the pair of numbers whose sum is equal to an even number. You should return the list from the range of 1 to 21. 
Example: x=[1,2,3,4,5] Pair should be (2,4) this will return the sum as 6 which is even. 3-Write a program to calculate the frequency of any special character if that exist in any string.

In [21]:
for number in range (1,21):
    
    for number2 in range (number,21):
        if ((number%2!=0 and number2%2!=0)or (number%2==0 and number2%2==0)):
            if (number==number2):
                continue
            print (number," ",number2)

1   3
1   5
1   7
1   9
1   11
1   13
1   15
1   17
1   19
2   4
2   6
2   8
2   10
2   12
2   14
2   16
2   18
2   20
3   5
3   7
3   9
3   11
3   13
3   15
3   17
3   19
4   6
4   8
4   10
4   12
4   14
4   16
4   18
4   20
5   7
5   9
5   11
5   13
5   15
5   17
5   19
6   8
6   10
6   12
6   14
6   16
6   18
6   20
7   9
7   11
7   13
7   15
7   17
7   19
8   10
8   12
8   14
8   16
8   18
8   20
9   11
9   13
9   15
9   17
9   19
10   12
10   14
10   16
10   18
10   20
11   13
11   15
11   17
11   19
12   14
12   16
12   18
12   20
13   15
13   17
13   19
14   16
14   18
14   20
15   17
15   19
16   18
16   20
17   19
18   20